.hero {
  font-family: 'Montserrat', sans-serif;
  background-image: url(../../images/layout1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 10px;
  text-align: center;
  @media all and (min-width: 768px) {
    align-items: center;
  }
  @media all and (min-width: 1200px) {
    background-image: url(../../images/layout1-1.png);
  }
  &__title {
    font-size: 50px;
    margin: 50px 0;
    font-weight: bold;
    @media all and (min-width: 1200px) {
      font-size: 80px;
    }
  }
  &__paragraph {
    font-weight: 600;
    position: relative;
    overflow: hidden;
    border-right: 0.15em solid #9393c5;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  @media all and (min-width: 1200px) {
    font-size: 30px;
    margin-bottom: 90px;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #9393c5;
  }
}
.image_about {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  @media all and (min-width: 768px) {
    height: 300px;
    width: 300px;
  }
  @media all and (min-width: 1200px) {
    height: 400px;
    width: 400px;
  }
}
