.main {
  background-color: #000000;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.section {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media all and (min-width: 1200px) {
    font-size: 20px;
  }
  &__title {
    color: #6969a8;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    @media all and (min-width: 768px) {
      font-size: 20px;
    }
    @media all and (min-width: 1200px) {
      font-size: 30px;
    }
  }
  &__paragraph {
    text-align: center;
  }
}
.section__work {
  font-weight: 600;
  &--title {
    padding: 20px 0;
    color: #9393c5;
    @media all and (min-width: 1200px) {
      font-size: 22px;
    }
  }
  &--parrafo {
    padding-bottom: 20px;
  }
  &--image {
    height: 350px;
    width: 300px;
    border-radius: 3%;
    @media all and (min-width: 1200px) {
      margin-top: 20px;
    }
  }
}
.section_proyects {
  @media all and (min-width: 768px) {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.section__work--image:hover {
  opacity: 30%;
  transition: opacity 0.5s linear 0.2s;
}
.container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.tech_over {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.listTech {
  background-color: #9393c5;
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
  opacity: 0%;
}
.listTech2 {
  background-color: #9393c5;
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
  animation: fadeIn 0.5s ease-in both;
}
.listTech2:nth-child(2) {
  animation-delay: 1s;
}
.listTech2:nth-child(3) {
  animation-delay: 1.5s;
}
.listTech2:nth-child(4) {
  animation-delay: 2s;
}
.listTech2:nth-child(5) {
  animation-delay: 2.5s;
}
.listTech2:nth-child(6) {
  animation-delay: 2.5s;
}
.contact_ul {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  &--li {
    padding: 10px;
  }
}
.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.tech_img {
  height: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
