a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  @media all and (min-width: 1200px) {
    font-size: 20px;
  }
}

.far,
.fab {
  font-size: 20px;
}
