<footer role="contentinfo" class="footer">
    <ul>
      <li>
        <a href="https://twitter.com/nisarhassan12/" title="Link to Twitter Profile">
          <img src="./images/twitter.svg" alt="Twitter">
        </a>
      </li>
      <li>
        <a href="https://github.com/nisarhassan12/" title="Link to Github Profile">
          <img src="./images/github.svg" alt="Github">
        </a>
      </li>
      <li>
        <a href=https://www.linkedin.com/in/nisar-hassan-naqvi-413466199/">
          <img src="./images/linkedin.svg" title="Link to Linkedin Profile"  alt="Linkedin">
        </a>
      </li>
    </ul>

    <!-- If you give me some credit by keeping the below paragraph, will be huge for me 😊 Thanks. -->
    <p>
      &copy; 2021
    </p>
    <a href="#top" class="back-to-top" title="Back to Top">
      <img src="./images/arrow-up.svg" alt="Back to Top" class="back-to-top__image"/>
    </a>
</footer>