<main>
  <!-- ***** Work ***** -->
  <section id="work">
    <h2>Mis trabajos</h2>
    <article>
      <h3>Roll the dices</h3>
      <p>Tirador de dados de rol</p>
      <ul>
        <li>HTML</li>
        <li>SCSS</li>
        <li>JavaScript</li>
        <li>Gulp</li>
      </ul>
      <div>
        <a href="https://nisar.surge.sh" target="_blank"> Visit Site </a>
        <a
          href="https://github.com/nisarhassan12/portfolio"
          title="View Source Code"
          target="_blank"
        >
          <img src="./images/github.svg" class="work__code" alt="GitHub" />
        </a>
      </div>
      <div>
        <img src="./images/project-1.png" alt="Project 1" />
      </div>
    </article>
  </section>

  <!-- ***** About ***** -->

  <section id="about">
    <article>
      <h2>Sobre mi</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos id nostrum
        illo harum blanditiis, tenetur eum suscipit cupiditate in vel, ex quam
        quidem quos mollitia labore aut sunt eius ratione molestiae fuga veniam
        facere similique voluptate.
      </p>
      <div>
        <img src="./images/syed-ali-hussnain.jpg" alt="" />
      </div>
    </article>
  </section>

  <!-- ***** Contact ***** -->

  <section id="contact">
    <article>
      <h2>Contacto</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
        excepturi? Ipsa laborum sequi veritatis! Aspernatur vero voluptates,
        consequuntur cumque officiis nostrum velit corporis dolorum quod vel
        omnis natus, eius labore.
      </p>
      <!-- <a href="mailto:you@example.com" target="_blank">you@example.com</a> -->
      <ul>
        <li>
          <a href="mailto:irenebioque@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
         </a>
       </li>
        <li>
           <a href="https://github.com/IreneBioque" title="Link to Github Profile" target="_blank"> <i class="fab fa-github"></i></a>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/irenebioquemu%C3%B1oz/" title="Link to Linkedin Profile" target="_blank"><i class="fab fa-linkedin"></i></a>
        </a>
      </li>
      <li>
       <a href="https://twitter.com/Irenillab" title="Link to Twitter Profile" target="_blank"> <i class="fab fa-twitter"></i></i></a>
      </a>
    </li>
      </ul>
    </article>
  </section>
</main>
