<main class="main">
  <!-- ***** Work ***** -->
  <section id="work">
    <h2 class="section__title">Mis Proyectos</h2>
    <article class="section__work section">
      <h3 class="section__work--title">Roll the Dices</h3>
      <p class="section__work--parrafo">Lanzador de dados de rol</p>
      <ul class="section__work--ul">
        <li class="section__work--ul__li">HTML</li>
        <li class="section__work--ul__li">SCSS</li>
        <li class="section__work--ul__li">JavaScript</li>
        <li class="section__work--ul__li">Gulp</li>
      </ul>
        <div class="section__work--links">
          <a href="https://irenebioque.github.io/roll-dices/" target="_blank">Abrir proyecto</a> 
          <a href="https://github.com/IreneBioque/roll-dices" title="Roll the dices" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        </div>
        <img src="./assets/images/roll-the-dices.jpg" alt="Project 1" class="section__work--image"/>
    </article>
    <article class="section__work section">
      <h3 class="section__work--title">Rick and Morty Search Engine</h3>
      <p class="section__work--parrafo">Buscador de personajes de la serie Rick y Morty</p>
      <ul class="section__work--ul">
        <li class="section__work--ul__li">HTML</li>
        <li class="section__work--ul__li">SCSS</li>
        <li class="section__work--ul__li">REACT.JS</li>
      </ul>
        <div class="section__work--links">
          <a href="https://irenebioque.github.io/Rick-and-Morty-Search-Engine/#/"  target="_blank">Abrir proyecto</a> 
          <a href="https://github.com/IreneBioque/Rick-and-Morty-Search-Engine" title="Roll the dices" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        </div>
        <img src="./assets/images/rick-y-morty.png" alt="Project 2" class="section__work--image"/>
    </article>
    <article class="section__work section">
      <h3 class="section__work--title">Serieteca</h3>
      <p class="section__work--parrafo">Buscador de series, donde puedes guardar tus series favoritas</p>
      <ul class="section__work--ul">
       <li class="section__work--ul__li">HTML</li>
        <li class="section__work--ul__li">SCSS</li>
        <li class="section__work--ul__li">JavaScript</li>
        <li class="section__work--ul__li">Gulp</li>
      </ul>
        <div class="section__work--links">
          <a href="https://irenebioque.github.io/Serieteca/"  target="_blank">Abrir proyecto</a> 
          <a href="https://github.com/IreneBioque/Serieteca" title="Serieteca" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        </div>
        <img src="./assets/images/serieteca.jpg" alt="Project 3" class="section__work--image"/>
    </article>
    <article class="section__work section">
      <h3 class="section__work--title">Guess the number</h3>
      <p class="section__work--parrafo">Juego en el que hay que adivinar un número del 1 al 100</p>
      <ul class="section__work--ul">
       <li class="section__work--ul__li">HTML</li>
        <li class="section__work--ul__li">SCSS</li>
        <li class="section__work--ul__li">JavaScript</li>
      </ul>
        <div class="section__work--links">
          <a href="https://irenebioque.github.io/Guess-the-number/"  target="_blank">Abrir proyecto</a> 
          <a href="https://github.com/IreneBioque/Guess-the-number" title="guess-the-number" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        </div>
        <img src="./assets/images/guess-the-number.jpg" alt="Project 4" class="section__work--image"/>
    </article>
    <article class="section__work section">
      <h3 class="section__work--title">Web layout</h3>
      <p class="section__work--parrafo">Maquetación de una página web responsive</p>
      <ul class="section__work--ul">
       <li class="section__work--ul__li">HTML</li>
        <li class="section__work--ul__li">SCSS</li>
        <li class="section__work--ul__li">Gulp</li>
      </ul>
        <div class="section__work--links">
          <a href="https://irenebioque.github.io/web-layout/"  target="_blank">Abrir proyecto</a> 
          <a href="https://github.com/IreneBioque/web-layout" title="guess-the-number" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        </div>
        <img src="./assets/images/web-layout.jpg" alt="Project 5" class="section__work--image"/>
    </article>
  </section>

  <!-- ***** About ***** -->

  <section id="about">
    <article class="section section__about">
      <h2 class="section__title">Sobre mi</h2>
      <p class="section__paragraph">
        Psicóloga de formación, decidí darle la vuelta a mi carrera profesional y empezar en el mundo de la programación. Disfruto creando, aprendiendo y formando parte de un equipo. Actualmente estoy buscando iniciarme profesionalmente como programadora. 
      </p>
      <div>
        <img src="./assets/images/IreneBioque.jpg" alt="foto Irene" class="image_about" />
      </div>
    </article>
  </section>

  <!-- ***** Contact ***** -->

  <section id="contact">
    <article class="section">
      <h2 class="section__title">Contacto</h2>
      <p class="section__paragraph">
        Si quieres contactar conmigo, tienes mi correo y todas mis redes sociales abajo.
      </p>
      <!-- <a href="mailto:you@example.com" target="_blank">you@example.com</a> -->
      <ul class="contact_ul">
        <li class="contact_ul--li">
          <a href="mailto:irenebioque@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
         </a>
       </li>
        <li class="contact_ul--li">
           <a href="https://github.com/IreneBioque" title="Link to Github Profile" target="_blank"> <i class="fab fa-github"></i></a>
          </a>
        </li>
        <li class="contact_ul--li">
          <a href="https://www.linkedin.com/in/irenebioquemu%C3%B1oz/" title="Link to Linkedin Profile" target="_blank"><i class="fab fa-linkedin"></i></a>
        </a>
      </li>
      <li class="contact_ul--li">
       <a href="https://twitter.com/Irenillab" title="Link to Twitter Profile" target="_blank"> <i class="fab fa-twitter"></i></i></a>
      </a>
    </li>
      </ul>
    </article>
  </section>
  <section id="technologies">
    <h2 class="section__title technologies__title">Tecnologías</h2>
    <ul  class="technologies">
      <li><img src="./assets/images/sass-blanco.png" alt="SCSS" class="tech_img sass"></li>
      <li><img src="./assets/images/html-blanco.png" alt="HTML" class="tech_img html"></li>
      <li><img src="./assets/images/js-blanco.png" alt="JS" class="tech_img js"></li>
      <li><img src="./assets/images/react-blanco.png" alt="REACT" class="tech_img react"></li>
      <li><img src="./assets/images/git-blanco.png" alt="GIT" class="tech_img git"></li>
      <li><img src="./assets/images/node-blanco.png" alt="NODE" class="tech_img node"></li>
      <li><img src="./assets/images/sql-blanco.png" alt="SQL" class="tech_img sql"></li>
    </ul>
  </section>
</main>
