<main class="main">
  <!-- ***** Work ***** -->
  <section id="work">
    <h2 class="section__title">Mis trabajos</h2>
    <article class="section__work section">
      <h3 class="section__work--text">Roll the dices</h3>
      <p class="section__work--text">Tirador de dados de rol</p>
      <ul class="section__work--ul">
        <li class="section__work--ul__li">HTML</li>
        <li class="section__work--ul__li">SCSS</li>
        <li class="section__work--ul__li">JavaScript</li>
        <li class="section__work--ul__li">Gulp</li>
      </ul>
      <div>
        <div class="section__work--links">
          <a href="">Abrir proyecto</a> 
          <a href="#" title="Roll the dices" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        </div>
        <img src="../assets/images/Roll-the-dices.png" alt="Project 1" class="section__work--image"/>
      </div>
    </article>
  </section>

  <!-- ***** About ***** -->

  <section id="about">
    <article class="section">
      <h2 class="section__title">Sobre mi</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos id nostrum
        illo harum blanditiis, tenetur eum suscipit cupiditate in vel, ex quam
        quidem quos mollitia labore aut sunt eius ratione molestiae fuga veniam
        facere similique voluptate.
      </p>
      <div>
        <img src="./images/syed-ali-hussnain.jpg" alt="" />
      </div>
    </article>
  </section>

  <!-- ***** Contact ***** -->

  <section id="contact">
    <article class="section">
      <h2 class="section__title">Contacto</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
        excepturi? Ipsa laborum sequi veritatis! Aspernatur vero voluptates,
        consequuntur cumque officiis nostrum velit corporis dolorum quod vel
        omnis natus, eius labore.
      </p>
      <!-- <a href="mailto:you@example.com" target="_blank">you@example.com</a> -->
      <ul class="contact_ul">
        <li class="contact_ul--li">
          <a href="mailto:irenebioque@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
         </a>
       </li>
        <li class="contact_ul--li">
           <a href="https://github.com/IreneBioque" title="Link to Github Profile" target="_blank"> <i class="fab fa-github"></i></a>
          </a>
        </li>
        <li class="contact_ul--li">
          <a href="https://www.linkedin.com/in/irenebioquemu%C3%B1oz/" title="Link to Linkedin Profile" target="_blank"><i class="fab fa-linkedin"></i></a>
        </a>
      </li>
      <li class="contact_ul--li">
       <a href="https://twitter.com/Irenillab" title="Link to Twitter Profile" target="_blank"> <i class="fab fa-twitter"></i></i></a>
      </a>
    </li>
      </ul>
    </article>
  </section>
</main>
